:root{
    --color-bg: rgb(204, 204, 204);
    --color-primary: #ffa500;
}
/*============== Form ==================*/
body{
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content:center;    
}
form{
    background-color: white;
    margin: 60px auto;
    padding: 64px;
    border-radius: 8px;

    max-width: 730px;
}

form h1{
    font-size: 36px;
}

form fieldset{
    margin-top: 64px;
    border: 0;
}

form legend{
    margin-bottom: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

form legend h2{
    font-size: 24px;
}

form legend span{
    font-size: 14px;
    color: var(--color-letter);
    
}

form .field{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

form .field-group{
    display: flex;

}

form input,
form select{
    background-color: var(--color-bg);
    border: 0;
    padding: 16px 24px;
    font-size: 16px;

    border-radius: 8px;
    outline: none;
}

form select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form label{
    font-size: 14px;
    margin-bottom: 8px;
}

form .field-group .field + .field{
    margin-left: 24px;
}

.butt{
    display:flex;
}

form button{
    width: 260px;
    height: 56px;
    background-color: #13a356;
    color: white;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    border: 0;
    margin-top: 40px;
    cursor: pointer;

    transition: 400ms;
}

form button:hover{
    background-color: #2fb86e;
}

form a{
    margin: 0 auto;
    padding: 16px 80px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    border: 0;
    margin-left: 8px;
    margin-top: 40px;
    cursor: pointer;

    transition: 400ms;
}

form a:hover{
    background-color: rgb(206, 50, 50);
}
